:root {
    --cor-destaque: #d65834;
    --cor-secundaria: black;
}

.cardBody{
    margin: auto;
    margin-top: 25vh;
}

.loginCard{
    background-color: var(--cor-secundaria);
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px -10px var(--cor-secundaria); 
    box-shadow: 0px 0px 30px -10px var(--cor-secundaria);
}

.loginHeaderText{
    color: var(--cor-destaque);
    font-family: 'Oswald';
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 40px;
}

.loginOption{
    text-align: center;
    margin-bottom: 25px;
}

.loginSection{
    margin-top: 20px;
    text-align: center;
    display: block;
}
.cadastroSection, .senhaSection, .emailSection{
    margin-top: 20px;
    text-align: center;
    display: none;
}

.iconeEmail{
    color: var(--cor-destaque);
    font-size: 38px;
}
.infoText{
    color: var(--cor-destaque);
    font-family: 'Oswald';
    text-align: center;
    font-weight: 200;
    font-size: 18px;
    padding: 0px 20px;
}


/*
  ___  ___ _____ ___  ___ ___ 
 | _ )/ _ \_   _/ _ \| __/ __|
 | _ \ (_) || || (_) | _|\__ \
 |___/\___/ |_| \___/|___|___/
                              
*/

.btnLogin{
    background-color: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 2px solid;
    font-family: 'Oswald';
    font-weight: 300;
    line-height: 1;
    border-color: var(--cor-secundaria);
    transition: .3s all;
}
.btnLogin:hover{
    background-color: transparent;
    border-color: var(--cor-destaque);
}

.btnEntrar{
    margin-right: 5px;
    border-color: var(--cor-destaque);
}
.btnCadastrar{
    margin-left: 5px;
}

.btnFormLogin{
    border-radius: 40px;
    width: 70%;
    background-color: var(--cor-destaque);
    font-family: 'Oswald';
    font-weight: 400;
}
.btnFormLogin:hover{
    background-color: #bd4929;
}

.loginForgotPassword p{
    margin-top: 20px;
    color: #c4c4c4;
    font-family: 'Oswald';
    font-weight: 100;
    transition: color .5s;
}
.loginForgotPassword p:hover{
    color: var(--cor-destaque);
}


/*
  ___ _  _ ___ _   _ _____ ___ 
 |_ _| \| | _ \ | | |_   _/ __|
  | || .` |  _/ |_| | | | \__ \
 |___|_|\_|_|  \___/  |_| |___/
                            
*/

input{
    border-radius: 40px;
    border: 1px solid var(--cor-secundaria);
    font-family: 'Oswald';
    font-weight: 100;
    padding-left: 20px;
    height: 40px;
    width: 70%;
    color: var(--cor-secundaria);
    margin-bottom: 10px;
}
input:focus{
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid var(--cor-destaque);
}

#errorTextLogin, #errorTextCadastro{
    color: var(--cor-destaque);
    font-family: 'Oswald';
    font-weight: 100;
    font-size: 13px;
    text-align: center;
}

/*                       
 _____ _____ _____ _____ __    
|   __|   __| __  |  _  |  |   
|  |  |   __|    -|     |  |__ 
|_____|_____|__|__|__|__|_____|
                               
*/

body{
    background-color: transparent;
}

html{
    background-image:
    linear-gradient(to bottom, #fff2cebd, #fff2cebd),
    url("../img/loginBackground.jpeg");
    background-color: var(--cor-secundaria); 
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
